<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Robot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Robot.Properties.Settings>
            <setting name="correctlyEnded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LP_ZK" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LP_Z" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LP_R" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LP_P" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PP_ZK" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PP_Z" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PP_R" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PP_P" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LZ_ZK" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LZ_Z" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LZ_R" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LZ_P" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PZ_ZK" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PZ_Z" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PZ_R" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PZ_P" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>0</value>
            </setting>
        </Robot.Properties.Settings>
    </userSettings>
</configuration>