<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Robot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Robot.Properties.Settings>
            <setting name="correctlyEnded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LP_ZK" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LP_Z" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LP_R" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LP_P" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PP_ZK" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PP_Z" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PP_R" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PP_P" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LZ_ZK" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LZ_Z" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LZ_R" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LZ_P" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PZ_ZK" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PZ_Z" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PZ_R" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PZ_P" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LP_ZK_default" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LP_Z_default" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LP_R_default" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LP_P_default" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PP_ZK_default" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PP_Z_default" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PP_R_default" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PP_P_default" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LZ_ZK_default" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LZ_Z_default" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LZ_R_default" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LZ_P_default" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PZ_ZK_default" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PZ_Z_default" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PZ_R_default" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PZ_P_default" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="P_maxVelocity" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="P_aceleration" serializeAs="String">
                <value>2500</value>
            </setting>
            <setting name="P_deceleration" serializeAs="String">
                <value>2500</value>
            </setting>
            <setting name="P_positionVelocity" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="P_positionAceleration" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="P_positionDeceleration" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="R_positionVelocity" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="R_positionAceleration" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="R_positionDeceleration" serializeAs="String">
                <value>4000</value>
            </setting>
            <setting name="Z_positionVelocity" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Z_positionAceleration" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="Z_positionDeceleration" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="ZK_positionVelocity" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="ZK_positionAceleration" serializeAs="String">
                <value>2500</value>
            </setting>
            <setting name="ZK_positionDeceleration" serializeAs="String">
                <value>2500</value>
            </setting>
        </Robot.Properties.Settings>
    </userSettings>
</configuration>